<div class="option" *ngIf="!hasBeenSent">
  <mat-card
    class="option"
    class="forDocumentos"
    *ngFor="let documentName of documentNames"
  >
    <img src="assets/img/file-icon.svg" alt="file-icon" />
    <label>{{ documentName }}</label>
    <input
      (change)="addSelectedDocument(documentName)"
      type="checkbox"
      id="Documento25"
    />
  </mat-card>
</div>
<button *ngIf="!hasBeenSent" mat-button (click)="onClick()">Enviar</button>


<!-- <div id="selected" *ngIf="hasBeenSent">
  <mat-card *ngFor="let selected of selectedDocuments">
    <a [href]="documentFilePaths[selected]" download>{{ selected }}</a>
  </mat-card>
</div> -->
<div id="selected" *ngIf="hasBeenSent">
  <mat-card *ngFor="let selected of selectedDocuments">
    <a (click)="baixar(selected)">{{ selected }}</a>
  </mat-card>
</div>
